/* Mobile first approach */

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
  color: #333;
}

h1 {
  font-family: "Inconsolata", monospace;
  font-size: 1.33rem;
  text-transform: uppercase;
  padding-top: 20px;
  padding-left: 24px;
}

h2 {
  font-size: 2.667rem;
}

h1,
h2,
button {
  font-weight: 700;
}

p {
  font-weight: 400;
}

#container {
  max-width: 1440px;
  min-height: 100%;
  margin: 0 auto;
}
button {
  font-size: 0.778rem;
  text-transform: uppercase;
}

main {
  min-height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 4rem;
  gap: 10%;
}

.hero-content,
.hero-image {
  max-width: 87.5%;
  padding: 20px;
}

.hero-image img {
  width: 100%;
  height: auto;
}

.hero-content p {
  line-height: 26px;
}

button {
  padding: 24px 43px;
  font-size: 0.778rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 3.667rem;
  background-color: #333;
  border: none;
  color: #fff;
}

footer {
  min-height: 100px;
  width: auto;
  display: flex;

  justify-content: center;
  align-items: center;
}

footer p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 0.778rem;
  margin: 0 auto;
  max-width: 90%;
  color: #bdbdbd;
  height: 50px;
  padding-top: 40px;
}

a {
  color: #bdbdbd;
  font-weight: 700;
}

a:active {
  color: red;
}

@media only screen and (min-width: 1000px) {
  main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    row-gap: 114px;
  }

  .hero-image,
  .hero-content {
    width: 70%;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
}
